/* Challenge

   Make the navigation layout work
   on both mobile and large screens.

   Mobile-first, so mobile styles first,
   then add the large screen styles
   inside the existing media query

*/

*, *::before, *::after {
    box-sizing: border-box;
}
a{
    color:white;
    text-decoration: none;
}
li{list-style-type: none;}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 3rem;
    margin-top: 0;
}

.section-title {
    color: #87629A;
}

.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase; 
    color: #23424A;
    font-weight: 900;
    background-color: #38CFD9;
    padding: .75em 2em;
    border-radius: 100px;
}

.btn:hover,
.btn:focus {
    opacity: .75; 
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    /* added for nav-toggle positioning */
    position: relative;
}

header {
    background: #136c72;
    padding: 1em 0 ;
    text-align: center;
}

.nav {
    width: 100%;
}



.nav-toggle {
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    padding: 0em;
    border-radius: 50%;
    background: #072A2D;
    color: white;
    transition: opacity 250ms ease;
    position: absolute;
    left: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
    opacity: .75;
}

.hamburger {
    width: 50%;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: white;
}

.hamburger::before,
.hamburger::after {
    content: '';
    width: 100%;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

/* made changes here from video
   to make it more accessible.
   
   Works the same :) */
.nav {
    visibility: hidden;
    height: 0;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    
}

.nav__link--button{
    color:#23424A;
    background-color: white;
    padding:5px 20px;
    border-radius: 20px;
}
.nav__item{
    margin-bottom: 20px;
}

.nav__list{
    margin-left: -40px;
}
.nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
} 


.logo {
    height: 30px;
}


.hero {
    padding: 100px 0;
    background-color: #23424A;
    color: #FFF;
}

.hero__img {
    margin-top: 2em;
}


.hero p {
    margin-bottom: 3em;
}

.main {
    margin-top: 3em;
}


.sidebar {
    padding: 1em;
    text-align: center;
    color: #fff;
    background-color: #136c72;

}



@media screen and (min-width: 800px) {

    
    .nav-toggle {
        display: none;
    }

    .nav {
        visibility: visible;
        display: flex;
        height: auto;
        position: relative;
        justify-content: space-between;
    }
    .nav__list{
        display: flex;
        margin: 0;
    }
    .nav__item{
        margin-right: 40px;
    }
    .row {
        display: flex;

    }

    .hero__text {
        width: 62%;
    }
    
    .hero__img {
        width: 32%;
        align-self: flex-start;
        margin: 0;
    }
    
    .primary-content {
        width: 62%;
    }

    .sidebar {
        width: 32%;
    }
    
    
}