.button {
    font: inherit;
    border: 1px solid #005f16;
    background: red;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
  }
  
  .button:hover,
  .button:active {
    background: #1b9c39;
    border-color: #1a8734;
  }
  
.button:focus {
    outline: none;
}