.header-wrapper{
    background-color: '#61DBFB';
    font-family: 'Helvetica Neue';
    padding: 25;
    line-height:  1.5;
}

.main-wrapper{
    background-color: '#F3F0F5';
  }

.footer-wrapper {
    background-color: '#61DBFB';
  }