@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@700&display=swap');
*{    margin: 0; box-sizing: border-box}; *::after{margin: 0; box-sizing: border-box;};*::before{margin: 0; box-sizing: border-box;}
:root{
    --primary-font : 'Oswald', sans-serif;
    --secondary-font:'Montserrat', sans-serif;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    
}
li{
    list-style-type: none;
}
ul{
    padding: 0;
}

img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 25px rgb(37, 66, 37);
    /* max-width: 500px; */
    margin-bottom: 20px;
}
h1,h2,h3,h4{
    font-family: var(--primary-font);
}
p{
    font-family: var(--secondary-font);
}
.container{
    /* max-width: 1200px; */
    margin: 0 auto;
}


/* navbar */
nav{
    background-color: #2E323F;
}
#nav-container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    font-family:var(--primary-font) ;
    font-size: 1.125rem;
    color:white;
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    padding: 16px;
}
#logo{
    font-size: 1.5rem;
}

.nav-toggle {
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    padding: 0em;
    border-radius: 50%;
    background: #072A2D;
    color: white;
    transition: all 1s;
    position:relative;
    

}

#menu{
    text-align: center;
}
.nav-toggle:focus,
.nav-toggle:hover {
    opacity: .75;
}
.nav-toggle:active {
    background-color: white;
    color: #072A2D;
}


.hamburger {
    width: 50%;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: white;
}

.hamburger::before,
.hamburger::after {
    content: '';
    width: 100%;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

.nav-invisible{
    display: none;
}

.nav__item{
    margin-top: 16px;
}


.nav__link__active{
    background-color: #A59678;
    padding: 5px 12px;
    border-radius: 20px;
}

/* main section */

header{
    padding: 100px 0;
    background-color: #3B4050;
}
.row{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.header{
    color:white;
    font-family: var(--primary-font);
    font-size: 55px;
    margin-bottom: 20px;
}
#header{
    color: #A59678;
}
.header__para{
    color:white;
    line-height: 1.8;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: var(--secondary-font);
}

.header__link{
    color:white;
    font-family: var(--primary-font);
    padding: 5px 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* section feature */
.section-feature{
    background-color: #e2e2e3;
    padding: 50px 0;
}
.section__feature__header{
    color: #A59678;
    font-family: var(--primary-font);
    font-size: 20px;
    text-align: center;
}
.section__feature__para{
    margin: 5px auto 15px auto;
}

/* section main */

.section-main{
    background-color: #e8dddd;
    padding: 50px 0;
}
.section__main__container h3{
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
    color:#A59678
}
.section__main__container p{
    margin-bottom: 20px;
    line-height: 1.7;
}
.section__main__sidebar{
    margin: 0;
    text-align: center;
}
.section__main__sidebar .col{
    background-color: #3B4050;
    margin-bottom: 30px;
    color: white;
    padding: 20px 40px;
    font-size: 20px;
}
.section__main__container p{
    font-size: 20px;
}
.section__main__sidebar__header{
    margin-bottom: 20px;
    font-size: 30px;
}
.section__main__sidebar__para{
    color:#a9adba;
}

footer{
    background-color: #3B4050;
}
.footer-container{
    width: 90%;
    margin: 0 auto;
    padding: 50px 0;
}
.footer-container .row{
    align-items: center;
    padding: 20px 0;
    align-items: flex-start;
}
.footer-container .row .col{
    width: 100%;
}
#footer-heading{
    color:#fff;
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
}
h4{
    color: #A59678;
}
.footer__para{
    color:#6F737F;
    margin-top: 5px;
    line-height: 1.8;
}
.row2{
    margin: 20px 0;
    text-align: center;
    display: flex;
    width: 100%;
    
}
.row2 .col + .col{
    margin-left: 40px;
    width: 100%;
}

/* Medium Size screen */
@media screen and (min-width:700px) {
    
    nav{
        flex-direction: row;
        align-items: center;
    }
    #nav-list{
        margin-top: -15px;
        display: flex;
    }
    .nav__item{
        margin-left: 16px;
    }
    .nav-toggle{
        display: none;
    }
    .row{
        flex-direction: row;
    }
    .header{ 
        margin-bottom: 0px;
        margin-right: 10px;
    }
    .section-feature .col+.col{
        margin-left: 40px;
    }
    .section__feature__para{
        text-align: center;
    }
    
    .section-main .row{
        flex-direction: column;
    }
    .section__main__container h3{
        font-size: 45px;
        text-align: left;
    }
    
    
}

/* Large Screen */
@media screen and (min-width:1000px) {
    
    .section-main .row{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    .section__main__container{
        width: 52%;
    }
    .section__main__sidebar{
        width: 38%;
    }
}